[submodule "LD-learning-dashboard"]
	path = LD-learning-dashboard
	url = https://github.com/Learning-Dashboard/LD-learning-dashboard.git
[submodule "ld_admintool"]
	path = ld_admintool
	url = https://github.com/geerardferrer/ld_admintool.git
[submodule "ld_admintool_frontend"]
	path = ld_admintool_frontend
	url = https://github.com/geerardferrer/ld_admintool_frontend.git
[submodule "LD_Connect_Event"]
	path = LD_Connect_Event
	url = https://github.com/Learning-Dashboard/LD_Connect_Event.git
[submodule "LD_Eval_Event"]
	path = LD_Eval_Event
	url = https://github.com/Learning-Dashboard/LD_Eval_Event.git
